<div class="container mt-2">
    <div class="row justify-content-md-center">
        <div class="col-md-7 text-center">
            <p class="text-center display-5">Yönetim Paneli</p>
            <p class="h3 text-center">
                Merhaba
                <br>
                {{ app.user.username }}
                <br>
                <a href="/logout" class="btn btn-danger mt-3"><i class="fas fa-power-off"></i></a>
            <hr>
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center mb-5">
        <div class="col-md-2 d-grid gap-2 mb-5">
            <a href="/admin" class="btn btn-dark"><i class="fas fa-home"></i></a>
        </div>
        <div class="col-md-2 d-grid gap-2 mb-5">
            <a href="/admin/settings" class="btn btn-dark">Genel Ayarlar <i class="fas fa-cog"></i></a>
        </div>
        <div class="col-md-2 d-grid gap-2 mb-5">
            <a href="/admin/contact" class="btn btn-dark">Mail İşlemleri <i class="fas fa-envelope"></i></a>
        </div>
        <div class="col-md-2 d-grid gap-2 mb-5">
            <a href="/admin/url" class="btn btn-dark">Url İşlemleri <i class="fas fa-cog"></i></a>
        </div>
        <div class="col-md-2 d-grid gap-2 mb-5">
            <a href="/admin/userlist" class="btn btn-dark">Kullanıcı İşlemleri <i class="fas fa-user-cog"></i></a>
        </div>
        <div class="col-md-2 d-grid gap-2 mb-5">
            <a href="" class="btn btn-dark">İçerik İşlemleri <i class="fas fa-cog"></i></a>
        </div>
    </div>
</div>