{% extends 'admin/base.html.twig' %}
{% block header %}
    {% include 'admin/inc/header.html.twig' %}
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-5">
                <p class="text-center h2 mb-3">Url Düzenle</p>
                <hr>
                {{ form(settings) }}
            </div>
            <div class="col-md-4 align-self-center offset-md-1">
                <p class="text-center h2">Banner</p>
                <hr>
                <img src="{{ setget.banner }}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
{% endblock %}

